# Target
CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_zte_e8820s=y
CONFIG_HAS_SUBTARGETS=y
CONFIG_HAS_DEVICES=y
CONFIG_TARGET_BOARD="ramips"
CONFIG_TARGET_SUBTARGET="mt7621"
CONFIG_TARGET_PROFILE="DEVICE_zte_e8820s"
CONFIG_TARGET_ARCH_PACKAGES="mipsel_24kc"
CONFIG_CPU_TYPE="24kc"
CONFIG_mipsel=y
CONFIG_ARCH="mipsel"

# Default
CONFIG_DEFAULT_TARGET_OPTIMIZATION="-Os -pipe -mno-branch-likely -mips32r2 -mtune=24kc"
CONFIG_DEFAULT_nftables=y
CONFIG_DEFAULT_kmod-mt7603=y
CONFIG_DEFAULT_kmod-mt76x2=y
CONFIG_DEFAULT_kmod-usb3=y
CONFIG_DEFAULT_uboot-envtools=y
CONFIG_DEFAULT_dnsmasq=n
CONFIG_DEFAULT_dnsmasq-full=y
CONFIG_DEFAULT_firewall4=y

# DNS
CONFIG_PACKAGE_dnsmasq=n
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_firewall4=y

# LuCI + Argon UI
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-ssl=y
CONFIG_PACKAGE_luci-theme-bootstrap=n
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-app-ttyd=y

# USB support
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb3=y

# USB Storage
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-ntfs=y
CONFIG_PACKAGE_kmod-fs-qntfs=y
CONFIG_PACKAGE_ntfs-3g=y
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_mount-utils=y
CONFIG_PACKAGE_kmod-scsi-core=y

# USB Tethering
CONFIG_PACKAGE_kmod-usb-net=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_kmod-usb-net-qmi-wwan=y
CONFIG_PACKAGE_kmod-usb-net-ipheth=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-proto-ppp=y
CONFIG_PACKAGE_luci-proto-qmi=y

# Hardware Crypto Acceleration package
CONFIG_PACKAGE_kmod-cryptodev=y
CONFIG_PACKAGE_kmod-crypto-gcm=y

# Web terminal
CONFIG_PACKAGE_ttvd=y

# Zone Info
CONFIG_PACKAGE_zoneinfo-asia=y

# Wireless Driver
CONFIG_PACKAGE_kmod-mt7603=y
CONFIG_PACKAGE_kmod-mt76x2=y

# Boot Loaders
CONFIG_PACKAGE_uboot-envtools=y